.SobreNosotros{
    background-color: rgb(59, 73, 88); 
}

.header{
    background-image: url(ba1.jpg);
    background-size: cover;
    background-color: rgb(80, 79, 79);
    background-blend-mode: soft-light ;
}

.headerTickets{
    background-size: cover;
    background-color: white;
    background-blend-mode: soft-light ;
}

